.details-container .detail-width{
    width: 85%;
    margin: 0 auto;
}
.details-container .pricing-section{
    width: 85%;
    margin: 0 auto;
}
.details-container .person-img{
    width: 50px;
}
.details-container .text-color{
    color: rgb(139, 135, 135);
    font-weight: 500;
}
.pricing-form-container{
    border-radius: 10px;
}
.pricing-form-container .date-size{
    font-size: 18px;
}