.date-style{
    background-color: rgb(158, 156, 153);
}
.date-style p{
    /* margin-bottom: 5px; */
}
.common-margin-left{
    margin-left: 7px;
}
@media (max-width: 991px){
    .details-container .detail-width{
        width: 94%;
        margin: 0 auto;
    }
}
@media (max-width: 768px){
    .details-container .pricing-section{
        width: 100%;
    }
}